<h1 class="title">Tres en raya con Angular</h1>
<div class="game-container">

  @if (isWinner || isDraw) {
  <div class="winner-draw">
    @if (winner === playerO) {
      <p>Ha ganado </p>
    <span class="winnerPlayerO">{{winner}}</span>
    } @else if (winner === playerX) {
      <p>Ha ganado </p>
      <span class="winnerPlayerX">{{winner}}</span>
    } @else {
      <p>Empate</p>
    }
    <button class="reset" (click)="reset()">Volver a jugar</button>
  </div>
  } @else {
      <div class="winner-draw" style="visibility: hidden;">
        <p>Ha ganado</p>
        <span>{{winner}}</span>
        <button class="reset" (click)="reset()">Volver a jugar</button>
      </div>
  }

  <div class="game">
    <div class="tablero">
      <div class="cuadro" (click)="pressed(0, 0)">{{positions[0][0]}}</div>
      <div class="cuadro" (click)="pressed(0, 1)">{{positions[0][1]}}</div>
      <div class="cuadro" (click)="pressed(0, 2)">{{positions[0][2]}}</div>
  
      <div class="cuadro" (click)="pressed(1, 0)">{{positions[1][0]}}</div>
      <div class="cuadro" (click)="pressed(1, 1)">{{positions[1][1]}}</div>
      <div class="cuadro" (click)="pressed(1, 2)">{{positions[1][2]}}</div>
  
      <div class="cuadro" (click)="pressed(2, 0)">{{positions[2][0]}}</div>
      <div class="cuadro" (click)="pressed(2, 1)">{{positions[2][1]}}</div>
      <div class="cuadro" (click)="pressed(2, 2)">{{positions[2][2]}}</div>
    </div>
  
    <div class="players">
      <span class="player" [class.playerX]="currentPlayer === playerX">{{playerX}}</span>
      <span class="player" [class.playerO]="currentPlayer === playerO">{{playerO}}</span>
    </div>
  
    @if (!isWinner) {
    <button class="reset" (click)="reset()">Reset</button>
  
    }
  </div>
  

  <div class="puntuacion">
    <h2>Puntuación</h2>
    <p>{{playerX}} : <span>{{playerXpoints}}</span></p>
    <p>{{playerO}} : <span>{{playerOpoints}}</span></p>
  </div>


</div>